@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Tüm Ürünler</h3>

@*GetProducts isimli action metodunun view'i budur. css + html = cshtml ==> Razor (html içerisinde c# kodlarını yazmamızı sağlayan bir teknolojidir) *@